<h1>User Registration</h1>
<p>Congratulations <%= @user.full_name %>, you have successfully registered</p>
<p>Full name: <%= @user.full_name %></p>
<p>Street address: <%= @user.street_address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Postal code: <%= @user.postal_code %></p>
<p>Country: <%= @user.country %></p>
<p>Email address: <%= @user.email_address %></p>
<p>Phone: <%= @user.phone %></p>
<p>User ID: <%= @user.user_id %></p>
<hr>
<p>Enter your User ID and Password to login to your account</p>
<form action="login" method="GET">
  <label>User ID:
    <input type="text" name="user_id"/>
  </label>
  <label>Password:
    <input type="text" name="password"/>
  </label>
  <input type="submit" value="Login" />
</form>
